################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IterationAutomation/copilot-chat/8586d6f2/sessions
/.vs/IterationAutomation/CopilotIndices/17.14.1601.40145
/.vs/IterationAutomation/FileContentIndex
/.vs/IterationAutomation/FileContentIndex/1f6a2a68-8b8a-4873-8172-a54be1c7a894.vsidx
/.vs/IterationAutomation/FileContentIndex/6b763a26-db00-4cb0-88a1-447b0fff5404.vsidx
/.vs/IterationAutomation/v17
/.vs/IterationAutomation/v17/.wsuo
/.vs/IterationAutomation/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/IterationAutomation/CopilotIndices/18.6.39611.21775/CodeChunks.db
/.vs/IterationAutomation/CopilotIndices/18.6.39611.21775/CodeChunks.db-shm
/.vs/IterationAutomation/CopilotIndices/18.6.39611.21775/CodeChunks.db-wal
/.vs/IterationAutomation/CopilotIndices/18.6.39611.21775/SemanticSymbols.db
/.vs/IterationAutomation/CopilotIndices/18.6.39611.21775/SemanticSymbols.db-shm
/.vs/IterationAutomation/CopilotIndices/18.6.39611.21775/SemanticSymbols.db-wal
/.vs/IterationAutomation.slnx/copilot-chat/8586d6f2/sessions/54339b74-3ba1-49ff-ad2d-dd4b78596c07
/.vs/IterationAutomation.slnx/FileContentIndex/dad1dd60-80cc-4957-89aa-2c7f876b6010.vsidx
/.vs/IterationAutomation.slnx/FileContentIndex/dc03ce87-15ce-4c1f-8a0b-7b0c450f37d3.vsidx
/.gitignore
/.gitignore
/.gitignore
